@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

a.page:link
{
    color: $pink-700;
}

a.page-current:link
{
    border: solid $pink-700 1px;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
    background-color: $pink-700;
}

$card-height: 100%;

.color-a { color: $gray-600; }

.cont-light 
{
  background-color: rgba($gray-200, .5);
}

.bkg-pink { background-color: rgba($pink-700, .35) !important; }


/* Navbar Start */
  /* + Colors for brand */
  nav .navbar-brand .color-light, .navbar-light navbar-nav .nav-link:hover, .color-light, a.color-light, .info
  {
    // color: #a27880;
    color: rgba($pink-700, .55);
  }

  nav .navbar-brand .color-dark, .navbar-light navbar-nav .nav-link, .color-dark, a.nav-link:hover, .info:hover
  {
    // color: #590d22;
    color: $pink-700;
  }

  a.nav-link.dropdown-toggle.show, nav a.dropdown-item:hover, nav button.dropdown-item:hover, td a:hover {
    color: rgba($pink-700, .9);
  }

  nav a.dropdown-item, nav button.dropdown-item{
    color:rgba($pink-700, .55);
  }
/* Navbar end*/

.movies-slick .container-card:hover 
{
  box-shadow: $box-shadow;
  border-bottom-left-radius: 0.35em;
  border-bottom-right-radius: 0.35em;
}

.my-border {
    border-color: rgba($pink-700, .55);
}

.my-border:hover {
    border-color: $pink-700;
}

small .green { 
  background-color: $green-600; 
}

small .red { 
  background-color: $red-600; 
}

small .update {
  background-color: rgba($purple-700, .3);
}

small .update:hover {
  background-color: rgba($purple-700, .5);
}

/* Slick Arrows */

.slick-next:before {
  content: '>' !important;
  border-radius: 15px 0px 0px 15px !important;
  padding: 15px 10px 15px 10px;
}
.slick-prev:before {
  content: '<' !important;
  border-radius: 0px 15px 15px 0px !important;
  padding: 15px 10px 15px 10px;
}

.slick-prev:before, .slick-next:before
{
  font-family: 'Work Sans', sans-serif!important; 
  background-color: rgba($pink-700, .9) !important;
  font-size: 40px !important;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .0 !important;
}

/* override variables and merge variables */
$theme-colors: map-merge($theme-colors, (
  "primary": rgba($pink-700, .9),
  "other": $gray-300,
  "other-darker": $gray-700
));

@mixin button-outline-variant(
  $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  --#{$prefix}btn-color: #{$color};
  --#{$prefix}btn-border-color: #{$color};
  --#{$prefix}btn-hover-color: #{$color-hover};
  --#{$prefix}btn-hover-bg: #{$active-background};
  --#{$prefix}btn-hover-border-color: #{$active-border};
  --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{$prefix}btn-disabled-color: #{$color};
  --#{$prefix}btn-disabled-bg: transparent;
  --#{$prefix}btn-disabled-border-color: #{$color};
  --#{$prefix}gradient: none;
}

/* Customize navbar colors */
$navbar-light-color: rgba($pink-700, .55);
$navbar-light-hover-color: rgba($pink-700, .9);

.watchlist-text {
  font-size: 1em;

  @media (max-width: 991px) {  
    font-size: .7em;
  }

  @media (max-width: 545px) {  
    font-size: .6em;
  }
  
  @media (max-width: 509px) {  
    font-size: .5em;
  }

  @media (max-width: 478px) {  
    font-size: .7em;
  }

  @media (max-width: 438px) {  
    font-size: .6em;
  }
  
  @media (max-width: 438px) {  
    font-size: .9em;
  }

  @media (max-width: 313px) {  
    font-size: .8em;
  }

}

.card-title {
  font-size: 1em;

  @media (max-width: 991px) {  
    font-size: .9em;
  }

  @media (max-width: 545px) {  
    font-size: .8em;
  }
  
  @media (max-width: 509px) {  
    font-size: .7em;
  }

  @media (max-width: 478px) {  
    font-size: .8em;
  }

  @media (max-width: 388px) {  
    font-size: 1em;
  }
}

.current {
  color: rgba($pink-700, .9) !important;
  border-bottom: 5px solid rgba($pink-700, .9);
}

.type-selected {
  color: rgba($pink-700, .9) !important;
  border-bottom: 2px solid rgba($pink-700, .9);
}

.type-item:hover:not(.type-selected) {
  border-bottom: 2px solid rgba($gray-700, .9);
}

/* import bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";
