{% extends ext %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
<div class="container">
    <h3 class="color-dark">{{ title }}</h3>
    <div class="border container cont-2 rounded shadow mb-5">
        <h5 class="color-light">Sort By</h5>
        <select class="form-select" id="sortby">
            <option value=0 selected>Popular</option>
            {% if session['user_type'] == 'staff' %}
                <option value=1>Descending Date</option>
            {% else %}
                <option value=1>Most Recent</option>
            {% endif %}
            <option value=2>Alphabetical Order</option>
        </select>
    </div>

    <!-- Activate/Inactivate Movies -->
    {% if title == 'All Movies' %} 
    <div class="conatainer mb-5 mt-0">
        <!-- Buttons for Modals -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#activate-movie">
            Activate Movie
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inactivate-movie">
            Inactivate Movie
        </button>
        
        <!-- Modals -->
        <div class="modal fade" id="activate-movie" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Activate Movie</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/activate" method="POST" id="activate">
                            <div class="form-floating">
                                <select class="form-select"  id="movie-select1" name="m-id">
                                  <option selected>Select Movie</option>
                                  {% for movie in inactive %}
                                    <option value="{{movie['tmdb_id']}}">{{movie['title']}}</option>
                                  {% endfor %}
                                </select>
                                <label for="movie-select1">Movie</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" form="activate">Activate</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="inactivate-movie" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Inactivate Movie</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/inactivate" method="POST" id="inactivate">
                            <div class="form-floating">
                                <select class="form-select" form='inactivate' id="movie-select2" name="m-id">
                                  <option selected>Select Movie</option>
                                  {% for movie in active %}
                                    <option value="{{movie['tmdb_id']}}">{{movie['title']}}</option>
                                  {% endfor %}
                                </select>
                                <label for="movie-select1">Movie</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" form="inactivate">Inactivate</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endif %}

    {% for i in range (info | length) %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4" id="info{{i}}">

        {% for movie in info[i] %}
            <div class="col">
                <div class="card">
                    <img src="https://image.tmdb.org/t/p/original{{movie['poster_path']}}" class="card-img-top" alt="Poster for {{movie['title']}}">
                    <div class="card-body">
                        <span class="my-tooltip" data-bs-toggle="tooltip" title="{{movie['title']}}">
                            <h6 class="card-title text-truncate">{{movie['title']}}</h6><br>
                        </span>
                        
                        <p class="card-text"><small>
                            <b>{{movie['status']}}</b><br>
                            <b>Release Date:</b> {{movie['release_date']}}<br>
                        
                            {% if movie['rating'] %}
                                <b>Rated:</b> {{movie['rating']}}<br>
                            {% endif %}
                            <b>Popularity:</b> {{movie['popularity']}}
                        </small></p></br>
                        
                        <p class="card-text"><small class="text-body-secondary">
                            {% for genre in movie['genres'] %}
                                    {{genre}},
                            {% endfor %}
                        </small></p>
                    </div>

                    <small class="text-body-secondary">
                        {% if movie['active'] %}
                            <div class="card-footer green">
                                Active
                            </div>
                        {% else %}
                            <div class="card-footer red">
                                Inactive
                            </div>
                        {% endif %}
                    </small>
                </div>
            </div>
        {% endfor %}

    </div>
    {% endfor %}       
</div>
{% endblock %}

