# cs50
Flask
requests
tmdsimple

flask-wtf
flask-bcrypt
flask-login
flask-sqlalchemy


flask shell
from theatert import app, db
app.app_context()

db.create_all()
db.drop_all()
Table.__table__.drop(db.engine)

cat theater.sql | sqlite3 theater.db
ASDF123!!45

HelloWorld#3