{% extends "member/layout.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block main %}
<div class="container left-align">
    <div class="d-flex flex-wrap justify-content-between my-3">
        <h3 class="fw-bold me-3">Checkout</h3>
        <h5 class="fw-bold">Total {{ "$%.2f"|format(
            screening.adult_price * tickets['adult'] +
            screening.child_price * tickets['child'] +
            screening.senior_price * tickets['senior'] )}}</h5>
    </div>
    <hr class="mb-4">
    <div class="d-flex flex-wrap justify-content-between">
        {% if show_form %}
            <div id="checkout-selection" class="cont-10" hidden>
        {% else %}
            <div id="checkout-selection" class="cont-10">
        {% endif %}
            <p>Sign in to use saved payment information. If you don't have an account, you can register for a Cinemark account.</p>
            <div class="d-grid gap-2 mx-auto">
                <button class="btn btn-primary btn-rounded my-1 py-2">Sign In</button>
            </div>
            <div class="d-grid gap-2 mx-auto info">
                <button id="guest-checkout" class="btn btn-outline-secondary btn-rounded my-1 py-2">Guest Checkout</button>
            </div>
        </div>

        {% if show_form %}
            <div id="checkout-form" class="cont-10 shadow rounded align-self-start p-3 mb-5">
        {% else %}
            <div id="checkout-form" class="cont-10 shadow rounded align-self-start p-3 mb-5" hidden>
        {% endif %}
            <form id="checkout-validate" action="{{ url_for('users.checkout_validate' )}}" method="POST" class="needs-validation" novalidate>
                {{ form.hidden_tag() }}
                <div class="mb-4">
                    {{ form.email.label(class_="fw-bold mb-2") }}
                    {% if form.email.errors and not get_flashed_messages(with_categories=true)%}
                        {{ form.email(autocomplete="off", autofocus=true, class="form-control is-invalid guest-email")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span id="email-e">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(autocomplete="off", autofocus=true, class="form-control guest-email")}}
                        <div class="invalid-feedback">
                            <span id="email-e">{{ error }}</span>
                        </div>
                    {% endif %}
                </div>

                <hr>
                <div class="d-flex justify-content-between">
                    <h5 class="fw-bolder mb-4">Credit Card</h5>
                    <div id="cc_holder" class="d-flex align-items-center">
                        <div class="visa rounded m-2">
                            <img class="img-responsive" src="../../static/images/cc_visa.webp" alt="Visa">
                        </div>
                        <div class="mastercard rounded m-2">
                            <img class="img-responsive" src="../../static/images/cc_mastercard.webp" alt="Mastercard">
                        </div>
                        <div class="amex rounded m-2">
                            <img class="img-responsive" src="../../static/images/cc_amex.webp" alt="American Express">
                        </div>
                        <div class="discover rounded m-2">
                            <img class="img-responsive" src="../../static/images/cc_discover.webp" alt="Discover">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    {{ form.card_number.label(class_="fw-bold mb-2") }}
                    {% if form.card_number.errors and not get_flashed_messages(with_categories=true)%}
                        {{ form.card_number(autocomplete="off", autofocus=true, class="form-control is-invalid", id="card-number")}}
                        <div class="invalid-feedback">
                            {% for error in form.card_number.errors %}
                                <span id="card-number-e">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.card_number(autocomplete="off", autofocus=true, class="form-control", id="card-number")}}
                        <div class="invalid-feedback">
                            <span id="card-number-e"></span>
                        </div>
                    {% endif %}
                </div>

                <div class="row g-3 mb-3">
                    <div class="col">
                        {{ form.exp_month.label(class_="fw-bold mb-2") }}
                        {% if form.exp_month.errors and not get_flashed_messages(with_categories=true)%}
                            {{ form.exp_month(autocomplete="off", autofocus=true, class="form-control is-invalid", id="exp-month")}}
                            <div class="invalid-feedback">
                                {% for error in form.exp_month.errors %}
                                    <span id="exp-month-e">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.exp_month(autocomplete="off", autofocus=true, class="form-control", id="exp-month")}}
                            <div class="invalid-feedback">
                                <span id="exp-month-e">{{ error }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.exp_year.label(class_="fw-bold mb-2") }}
                        {% if form.exp_year.errors and not get_flashed_messages(with_categories=true)%}
                            {{ form.exp_year(autocomplete="off", autofocus=true, class="form-control is-invalid", id="exp-year")}}
                            <div class="invalid-feedback">
                                {% for error in form.exp_year.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.exp_year(autocomplete="off", autofocus=true, class="form-control", id="exp-year")}}
                        {% endif %}
                    </div>
                </div>

                <div class="row g-3 mb-3">
                    <div class="col">
                        {{ form.zip_code.label(class_="fw-bold mb-2") }}
                        {% if form.zip_code.errors and not get_flashed_messages(with_categories=true)%}
                            {{ form.zip_code(autocomplete="off", autofocus=true, class="form-control is-invalid", id="zip-code")}}
                            <div class="invalid-feedback">
                                {% for error in form.zip_code.errors %}
                                    <span id="zip-code-e">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.zip_code(autocomplete="off", autofocus=true, class="form-control", id="zip-code")}}
                            <div class="invalid-feedback">
                                <span id="zip-code-e"></span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.sec_code.label(class_="fw-bold mb-2") }}
                        {% if form.sec_code.errors and not get_flashed_messages(with_categories=true)%}
                            {{ form.sec_code(autocomplete="off", autofocus=true, class="form-control is-invalid", id="sec-code")}}
                            <div class="invalid-feedback">
                                {% for error in form.sec_code.errors %}
                                    <span id="sec-code-e">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.sec_code(autocomplete="off", autofocus=true, class="form-control", id="sec-code")}}
                            <div class="invalid-feedback">
                                <span id="sec-code-e"></span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="cont-10">
            <div class="d-flex flex-wrap flex-md-nowrap flex-lg-nowrap">
                <div class="showtime me-4 mb-3">
                    <img src="https://image.tmdb.org/t/p/original{{screening.movie.poster_path}}" alt="Poster for {{screening.movie.title}}" class="rounded">
                </div>
                <div class="flex-lg-grow-1">
                    <h5 class="movie-title">{{ screening.movie.title }}</h5>
                    <p class="mt-4">{{ screening.start_datetime.strftime("%A, %B %d") }} at {{ screening.start_datetime.strftime(" %I:%M %p") }}</p>
                    <h6 class="fw-bold mt-4">Tickets ({{ tickets['adult'] + tickets['child'] + tickets['senior'] }})<h6>
                    <p class="my-small2">Seats: 
                        {% for s in seats %}
                            {% if loop.last %}
                                {{ s.row_name }}{{ s.col }} 
                            {% else %}
                                {{ s.row_name }}{{ s.col }}, 
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <hr>
            <div>
                <h5 class="fw-bolder">Summary</h5>
                <div class="d-flex justify-content-between">
                    <p>Tickets
                        <button class="info pointer more" data-bs-toggle="modal" data-bs-target="#modal-info-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm7.25-3.25v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5a.75.75 0 0 1 1.5 0Z"></path>
                            </svg>
                        </button>
                    </p>
                    <p>{{ "$%.2f"|format(
                        screening.adult_price * tickets['adult'] +
                        screening.child_price * tickets['child'] +
                        screening.senior_price * tickets['senior'] )}}</p>
                </div>
            </div>
            <hr>
            <div>
                <div class="d-flex justify-content-between">
                    <h5 class="fw-bolder">Total</h5>
                    <h5 class="fw-bold">{{ "$%.2f"|format(
                        screening.adult_price * tickets['adult'] +
                        screening.child_price * tickets['child'] +
                        screening.senior_price * tickets['senior'] )}}</h5>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Credit Card Total</p>
                    <p>{{ "$%.2f"|format(
                        screening.adult_price * tickets['adult'] +
                        screening.child_price * tickets['child'] +
                        screening.senior_price * tickets['senior'] )}}</p>
                </div>
            </div>
            <p class="my-small2 mt-4">By completing your purchase, you agree to our Terms & Conditions and Privacy Policy and acknowledge that you are at least 16 years of age.</p>
            
            {% if show_form %}
                <div id="checkout-button">
            {% else %}
                <div id="checkout-button" hidden>
            {% endif %}
                <div class="d-grid gap-2 mx-auto">
                    {{ form.submit(class_="btn btn-primary btn-rounded my-3", form='checkout-validate') }} 
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- Info Modal -->
<div class="modal fade" id="modal-info-1" tabindex="-1" aria-labelledby="modal-info-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">

        <div class="modal-body left-align">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="mt-3">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                          <th scope="col">Tickets</th>
                          <th scope="col" class="text-end">Qty</th>
                          <th scope="col" class="text-end">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if tickets['adult'] != 0 %}
                            <tr>
                                <th scope="row">Adult</th>
                                <td class="text-end">{{ tickets['adult'] }}</td>
                                <td class="text-end">{{ "$%.2f"|format(screening.adult_price * tickets['adult']) }} </td>
                            </tr>
                        {% endif %}

                        {% if tickets['child'] != 0 %}
                            <tr>
                                <th scope="row">Child</th>
                                <td class="text-end">{{ tickets['child'] }}</td>
                                <td class="text-end">{{ "$%.2f"|format(screening.child_price * tickets['child']) }} </td>
                            </tr>
                        {% endif %}

                        {% if tickets['senior'] != 0 %}
                            <tr>
                            <th scope="row">Senior</th>
                            <td class="text-end">{{ tickets['senior'] }}</td>
                            <td class="text-end">{{ "$%.2f"|format(screening.senior_price * tickets['senior']) }} </td>
                            </tr>
                        {% endif %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-end fw-bold" colspan="2">Tickets Subtotal</td>
                            <td class="text-end">{{ "$%.2f"|format(
                                screening.adult_price * tickets['adult'] +
                                screening.child_price * tickets['child'] +
                                screening.senior_price * tickets['senior'] )}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}