a 
{
    text-decoration: none;
    color: inherit;
}

a .movie-link
{
    display:block;
    text-decoration: none;
}

.action 
{ 
    width: 100%;
}

button#action
{ 
    border-radius: 0 !important;
    padding: 8px 16px !important
}

.backdrop > img:not(.play-button)
{
    height: 100%;
    width: 100%;
}

.col-1 > img
{
    width: 80%;
}

.cont-1, .cont-2, .cont-3, .cont-4, .cont-5, .cont-6
{
    /* border: 1px solid black; */
    border-radius: 25px;
    margin-top: 3vh;
    padding: 20px;
    width: 70vw;
}

.cont-1 { width: 70vw; }

.cont-2 { width: 30vw; }

.cont-3 { width: 90vw; }

.cont-4 
{
    width: 100%;
    overflow: auto;
}

.cont-5 { width: 200px; }

.cont-6 { width: 300px; }

.col-1 { width: 30%; }

.col-2 { width: 70% }

.col-3 { width: 20%; }

.col-4 { width: 80% }


.my-font {font-family: 'Work Sans', sans-serif!important;}

.movie-detail
{
    font-family: 'Work Sans', sans-serif!important; 
    font-weight: 400!important;
}

.movie-detail-label
{ 
    font-size: .7em;
    font-family: 'Work Sans', sans-serif!important; 
    font-weight: 700!important;
}

.movie-detail-title 
{ 
    font-family: 'Work Sans', sans-serif!important; 
    font-weight: 700!important;
}

.movie-detail-title-label 
{ 
    font-size: 1.3em;
}

.play-button
{
    width: 50px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    opacity: .7;
    transition: opacity .2s ease-in-out
}

.play-button:hover
{
    opacity: 1;
    transition: opacity .2s ease-in-out
}


.font-bold { font-weight: bold; }
.font-sm { font-size: .9em; }

.hide-info { display: none; }

.left-align { text-align: left; }
.right-align { text-align: right; }

@media screen and (min-width: 750px)
{
    .cont-1 
    {
        width: 35vw;
    }
}

@media screen and (max-width: 750px)
{
    .cont-2
    {
        width: 250px;
    }
    td 
    {
        white-space: nowrap;
    }
}

@media screen and (max-width: 300px)
{
    .cont-2
    {
        width: 100%;
    }
}

@media screen and (max-width: 500px)
{
    .col-1 { width: 80%; }
    .col-2 { width: 100%; }
    .col-3 { width: 30%; }
    .col-4 { width: 70%; }
    
    .trailer > img 
    { 
        width: 70px; 
    }
    .backdrop > img:not(.play-button) 
    { 
        width: 150%; 
    }
    .play-button 
    { 
        top: 50%; 
        left: 75%; 
    }
}


.modal-trailer
{
    width: 100vw;
}

.my-small {font-size: medium;}
.my-small2 {font-size: small;}

row 
{
    overflow: auto; 
}

.screen
{
    border-top: 10px solid black; 
    border-radius: 50%; 
    position: inherit; 
}
.screen-a
{
    width: 800px; 
    min-width: 800px; 
}
.screen-b
{
    width: 450px;  
    min-width: 450px;
}
.screen-c
{
    width: 520px; 
    min-width: 520px; 
}

/* SEAT start */
.seat
{
    color: white;
    font-size: .7em;
    width: 3em;
    height: 3em;
    border-radius: 15%;
    display: inline-block;

}

.available:hover { background-color: rgba(44, 104, 22, 1); }
.available { background-color: rgba(44, 104, 22, .7); }
.empty { color:transparent; }

.seat-img:hover { background-color: rgba(0, 61, 165, 1); }
.seat-img { background-color: rgba(0, 61, 165, .7); }

.seat-wheelchair { border-radius: 40%; }

.seat-img > img 
{
    width: 100%;
    height: 100%;
}
/* SEAT end */

#trailer 
{
    width: 60%;
    position: relative
}

.trailer > img
{
    width: 70px;
}
