{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block main %}
    <h3>SIGN IN</h3>
    <div class="border container cont-1 rounded shadow">

        <form action="/login" method="post">
            <div class="mb-3  left-align">
                <label class="font-bold form-label mx-auto w-auto">Username</label>
                <input class="form-control" name="username" type="text">
            </div>
            <div class="mb-3 left-align">
                <label class="font-bold form-label mx-auto w-auto">Password</label>
                <input class="form-control" name="password" type="password">
            </div>

            <button class="btn btn-primary" type="submit">Log In</button>
        </form>

    </div>
{% endblock %}
