{% extends "employee/layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    {% if changes|length == 0 %}
        <h5 class="color-dark my-4">You have made no changes to the database.</h5>
    {% else %}
        <h5 class="color-dark my-4">Your Changes:</h5>
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=>#</th>
                        <th class="text-start">Type</th>
                        <th class="text-start">Item</th>
                        <th class="text-end">Change</th>
                        <th class="text-end">Date-Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in changes %}
                    <tr>
                        <th>{{ loop.index }}</th>
                        <td class="text-start">{{ c['table_name'] }}</td>
                        <td class="text-start">{{ c['item'] }}</td>
                        <td class="text-end">{{ c['change'] }}</td>
                        
                        <td class="text-end">{{ c['date_time'].strftime("%b %d, %Y") }}&emsp;{{ c['date_time'].strftime("%I:%M:%S %p") }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
