<!DOCTYPE html>

<html lang="en" class="h-100">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- JQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Contians bootstrap -->
        <link href="/../../static/css/styles.css" rel="stylesheet">
        <script src="/../../static/javascript/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
                
        <!-- My css and bootstrap -->
        <link href="/../../static/css/main.css" rel="stylesheet">
        <!-- <script src="/../../static/javascript/main.js" rel="stylesheet"></script> -->
        <script src="../../static/javascript/bundle.js" rel="stylesheet"></script>
        
        <title> Employee | {% block title %}{% endblock %}</title>

    </head>

    <!-- <body class=""> -->
    <body class="d-flex flex-column h-100 pt-5">

        <nav class="bg-light border fixed-top navbar navbar-expand-md navbar-light shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{url_for('employees.home')}}"><span class="color-dark">EMPLOYEE</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if current_user.is_authenticated %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Movies
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ url_for('employees.movies.all_movies') }}">All Movies</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('employees.movies.now_playing') }}">Now Playing</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('employees.movies.coming_soon') }}">Coming Soon</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ url_for('employees.movies.add_movie') }}">Add Movie</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Showtimes
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ url_for('employees.showtimes.all_showtimes') }}">All Showtimes</a></li> 
                                    <li><a class="dropdown-item" href="{{ url_for('employees.showtimes.past_showtimes') }}">Past Showtimes</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('employees.showtimes.showtimes_now') }}">Showtimes Now</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ url_for('employees.showtimes.add_showtime') }}">Add Showtime</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('employees.auditoriums') }}">Auditoriums</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.logout') }}">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.employee_login') }}">Sign In</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('employees.register') }}">Create Account</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% with messages =  get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <header class="mt-4">
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}} mb-0 text-center" role="alert">
                            {{ message }} 
                        </div>
                    {% endfor %}
                </header>
            {% endif %}
        {% endwith %}

        <main class="container container-fluid my-3 py-5 text-center">
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>

        <footer class="footer mt-auto py-3 my-1">
            <div class="container">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    {% if current_user.is_authenticated%}
                        <li class="nav-item"><a href="{{ url_for('employees.movies.all_movies') }}" class="nav-link px-2 text-muted">All Movies</a></li>   
                        <li class="nav-item"><a href="{{ url_for('employees.movies.add_movie') }}" class="nav-link px-2 text-muted">Add Movie</a></li>   
                        <li class="nav-item"><a href="{{ url_for('employees.showtimes.add_showtime') }}" class="nav-link px-2 text-muted">Add Showtime</a></li>   
                    {% else %}
                        <li class="nav-item"><a href="{{ url_for('employees.home') }}" class="nav-link px-2 text-muted">Home</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Movies</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Showtimes</a></li>
                    {% endif %}
                </ul>

                <p class="text-center text-muted">&copy; 2023 THEATERTAINMENT</p>
            </div>
        </footer>
        
    </body>    
</html>
    