{% extends "other/movie-layout.html" %}

{% block under_img %}
    <p class="fst-italic my-small2 text-body-secondary">Note: Only movies without showtimes can be deleted.</p>
    <div class="btn-group movie-action" role="group">
        <button id="movie-action" type="button" class="btn btn-outline-other-darker dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Action
        </button>
        <ul class="dropdown-menu" aria-labelledby="movie-action">
            <li><a href="{{ url_for('employees.movies.update_movie', movie_route=Movie.route) }}" class="dropdown-item">Update</a></li>
            <li><a href="{{ url_for('employees.showtimes.movie', movie_route=Movie.route) }}" class="dropdown-item">Showtimes</a></li>
            {% if can_delete %}
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-delete">Delete</button></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
