{% extends "other/movie-layout.html" %}

{% block under_img %}
    <p class="fst-italic my-small2 text-body-secondary">Note: Only movies without showtimes can be deleted.</p>
    <div class="btn-group movie-action" role="group">
        <button id="movie-action" type="button" class="btn btn-outline-other-darker dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Action
        </button>
        <ul class="dropdown-menu" aria-labelledby="movie-action">
            <li><a href="{{ url_for('employees.movies.update_movie', movie_route=Movie.route) }}" class="dropdown-item">Update</a></li>
            <li><a href="{{ url_for('employees.showtimes.movie', movie_route=Movie.route) }}" class="dropdown-item">Showtimes</a></li>
            {% if can_delete %}
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-delete">Delete</button></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block modal_del %}
    {% if can_delete %}
        <div class="modal" id="modal-delete" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Movie?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="{{ url_for('employees.movies.delete_movie', movie_id = Movie.id )}}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock modal_del %}
