{% extends "employee/layout.html" %}

{% block title %}
    Register a New Account
{% endblock %}

{% block main %}
    <div class="border container cont-1 rounded shadow">
        <div class="mb-4">
            <form action="" method="POST" class="needs-validation" novalidate>
                <h5 class="color-dark">Create Account</h5>

                <div class="color-a font-sm left-align mt-4">&emsp;Password Requirements:</div>
                <ul class="color-a font-sm left-align">
                    <li>An alphabetic character</li>
                    <li>An uppercase character</li>
                    <li>A lowercase character</li>
                    <li>A numeric character</li>
                    <li>A special character</li>
                    <li>A minimum of 8 characters</li>
                </ul>

                {{ form.hidden_tag() }}
                <div class="left-align mb-3">
                    {{ form.username.label(class="font-bold form-label font-sm mx-auto w-auto") }}

                    {% if form.username.errors %}
                        {{ form.username(autocomplete="off", autofocus=true, class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(autocomplete="off", autofocus=true, class="form-control") }}
                    {% endif %}
                </div>
                <div class="left-align mb-3">
                    {{ form.password.label(class="font-bold form-label font-sm mx-auto w-auto") }}
                    {% if form.password.errors %}
                        <div class="d-flex justify-content-between">
                            {{ form.password(autocomplete="off", autofocus=true, class="form-control is-invalid") }}
                            <div class="ms-3 d-flex align-items-center">
                                <span class="toggle-visibility-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="my-small2 text-danger mt-1">
                            <span>{{ form.password.errors[0] }}</span>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-between">
                            {{ form.password(autocomplete="off", autofocus=true, class="form-control") }}
                            <div class="ms-3 d-flex align-items-center">
                                <span class="toggle-visibility-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="left-align mb-3">
                    {{ form.confirmation.label(class="font-bold form-label font-sm mx-auto w-auto") }}
                    {% if form.confirmation.errors %}
                        <div class="d-flex justify-content-between">
                            {{ form.confirmation(autocomplete="off", autofocus=true, class="form-control is-invalid") }}
                            <div class="ms-3 d-flex align-items-center">
                                <span class="toggle-visibility-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="my-small2 text-danger mt-1">
                            <span>{{ form.confirmation.errors[0] }}</span>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-between">
                            {{ form.confirmation(autocomplete="off", autofocus=true, class="form-control") }}
                            <div class="ms-3 d-flex align-items-center">
                                <span class="toggle-visibility-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="left-align mb-3">
                    {{ form.key.label(class="font-bold form-label font-sm mx-auto w-auto") }}
                    {% if form.key.errors %}
                        {{ form.key(autocomplete="off", autofocus=true, class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.key.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.key(autocomplete="off", autofocus=true, class="form-control") }}
                    {% endif %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2 info" href="{{ url_for('users.employee_login') }}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}
