{% extends "employee/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    {% if total == 0 %}
        <h3 class="color-light mb-3">Showtimes for <span class="color-dark"><a href="{{ url_for('employees.movies.movie', movie_route=movie_route) }}">{{ title }}</a></span></h3> 

        <div class="border container cont-2 rounded shadow mb-4">
            <form action="" method="GET" class="needs-validation" novalidate>
                <h5 class="color-light">Filter Showtimes</h5>

                <div class="form-floating">
                    <select class="form-select mb-3" id="select-auditoriums" name="auditorium">
                        <option value="">Select Auditorium</option>
                        {% for c in choices %}    
                            <option value="{{ c[0] }}">{{ c[1] }}</option>
                        {% endfor %}
                    </select>
                    <label for="select-auditoriums">Auditorium</label>
                </div>

                <div class="left-align mb-3">
                    <label class="font-bold form-label font-sm mx-auto w-auto">Date</label>
                    <input type="date" class="form-control" name="date"/>
                </div>

                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>

        <h6 class="text-body-secondary my-4">There are no showtimes.</h6>
    {% else %}
        <h3 class="color-light">Showtimes for <span class="color-dark"><a href="{{ url_for('employees.movies.movie', movie_route=movie_route) }}">{{ title }}</a></span> <span class="my-small color-light">({{ total }})</span></h3> 

        <div class="border container cont-2 rounded shadow mb-4">
            <form action="" method="GET" class="needs-validation" novalidate>
                <h5 class="color-light">Filter Showtimes</h5>

                <div class="form-floating">
                    <select class="form-select mb-3" id="select-auditoriums" name="auditorium">
                        <option value="">Select Auditorium</option>
                        {% for c in choices %}    
                            <option value="{{ c[0] }}">{{ c[1] }}</option>
                        {% endfor %}
                    </select>
                    <label for="select-auditoriums">Auditorium</label>
                </div>

                <div class="left-align mb-3">
                    <label class="font-bold form-label font-sm mx-auto w-auto">Date</label>
                    <input type="date" class="form-control" name="date"/>
                </div>

                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>

        <div class="container mb-5"><small class="text-body-secondary fst-italic">Note: Click on tickets to view tickets' info for that showtime.</small></div>

        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class=>#</th>
                        <th class="text-start">Date</th>
                        <th class="text-start">Start Time</th>
                        <th class="text-start">End Time</th>
                        <th class="text-start">Duration</th>

                        <th class="text-end">Auditorium</th>
                        <th class="text-end">Tickets</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in screenings %}
                    <tr>
                        <th>{{ loop.index }}</th>
                        <td class="text-start">{{ s.start_datetime.strftime("%A, %b %d, %Y") }}</td>
                        <td class="text-start">{{ s.start_datetime.strftime(" %I:%M %p") }}</td>
                        <td class="text-start">{{ s.end_datetime.strftime(" %I:%M %p") }}</td>
                        {% if s.movie.runtime < 60 %}
                            {% set runtime = (s.movie.runtime)|string + ' min' %}
                        {% else %}
                            {% set runtime = (s.movie.runtime // 60)|string + ' hr ' + (s.movie.runtime % 60)|string + ' min' %}
                        {% endif %}
                        <td class="text-start">{{ runtime }}</td>

                        <td class="text-end">{{ s.auditorium.id }}</td>
                        <td class="text-end"><a href="{{ url_for('employees.tickets', s_id=s.id) }}">{{ seats_total[loop.index0] }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="my-5">
            {% for pg_num in screenings.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if pg_num %}
                        {% if screenings.page == pg_num %}
                            <a class="page-current me-3" href="{{ url_for(url, page=pg_num, movie_route=movie_route, auditorium=auditorium, date=date) }}">{{ pg_num }}</a>
                        {% else %}
                            <a class="page me-3" href="{{ url_for(url, page=pg_num, movie_route=movie_route, auditorium=auditorium, date=date) }}">{{ pg_num }}</a>
                        {% endif %}
                    {% else %}
                        <span class="me-3">...</span>
                    {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}